*.pkl
__pycache__/*
.vscode/*
arial.ttf
image.jpeg
image.png
prev_health.json
train_horse.py
learn.py
lib/*
gw_map.py
graph.html
.env
original_icons/*
mission_icons/*
templates/*
mission_templates/*
*.JPG
kills.txt
output.csv
region_eta.py